.border-radius-10 {
  border-radius: 10px;
}

.bg-primary {
  background-color: #583196;
}

.text-white {
  color: #fff;
}

.mt-2 {
  margin-top: 4px;
}
.mt-4 {
  margin-top: 8px;
}

.mr-2 {
  margin-right: 4px;
}

.line-height-50 {
  line-height: 50px;
}
.w-full {
  width: 100%;
}
.height-50 {
  height: 50px;
}

.login-container {
  min-height: 100dvh;
}

.login-box {
  width: 500px;
  height: 600px;
  border: 1px solid #000;
}
.login-form {
  padding: 8px 16px;
}
